.nav-bar {
  background: $brand-primary;
  width: 20rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.7s ease-out;
  overflow-x: hidden;
  z-index: 4;

  &__nav {
    list-style: none;
    padding-left: 4rem;
  }

  &__item {
    margin-bottom: 2rem;
    transform: translateX(calc(100% + 20rem));
    transition: all 0.3s ease-in;
  }

  &__link {
    color: white;
    letter-spacing: 1.7px;
    font-size: 2rem;
  }
}

.hamburger-container {
  width: 20rem;
  height: 7rem;
  background: $brand-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;

  &:hover {
    cursor: pointer;
  }

  &__line {
    width: 7rem;
    height: 3px;
    background: white;
    transition: all 0.4s ease;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--2 {
      opacity: 1;
      // transition: opacity 0.5s ease;
    }
  }
}

.nav-bar__drop-down {
  //border: 1px solid white;
  // overflow: hidden;
  transform: scaleY(0);
  height: 0;
  padding-left: 2rem;

  &-item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &-link {
    color: $white;
  }
}

.show-dropDown,
.hide-dropDown {
  transform-origin: top;
}

.show-dropDown {
  transform: scaleY(1.2);
  transition: all 0.5s ease;
  height: 30rem;

  .nav-bar__drop-down {
    height: 20rem;
  }
}

.hide-dropDown {
  transform: scaleY(0);
  transition: all 0.5s ease;
}

.show-items {
  transform: translateX(0);
}

.hide-line {
  opacity: 0;
}

.line-down {
  transform: translateY(7px);
}

.line-up {
  transform: translateY(-7px);
}

.active-nav div {
  background: $brand-secondary;
  transition: background 2s ease;
}

.home-icon {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  color: white;
  z-index: 3222;
  font-size: 4rem;
  transition: color 0.5s ease;

  &:hover {
    color: $brand-secondary;
  }
}
