svg {
  width: 50%;
  height: 100%;
  min-width: 40rem;
}

path {
  stroke: rgb(131, 127, 127);
  opacity: 0.2;
  stroke-width: 7px;
  fill: none;
}

.animation {
  stroke-dashoffset: 0 !important;
  opacity: 0.3;
  transition: stroke-dashoffset 3s ease-out, opacity 2s ease 3s;
}
