.home-page-hero {
  position: relative;
  height: 50rem;
  background: url("/assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparentize($color: $brand-primary, $amount: 0.5);
  }

  &__heading-container {
    color: white;
    position: absolute;
    //width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 1rem;
    margin: 0px 2rem;
    border-left: 2px solid $brand-secondary;
  }

  &__heading {
    font-size: 7rem;
  }

  &__sub-heading {
    color: white;
    font-weight: lighter;
  }
}

.who-we-are {
  padding: 0px 1.5rem;
  margin-top: 2rem;

  &__text-container {
    width: 100%;
    max-width: 96rem;
    margin: auto;
  }

  &__heading {
    text-align: center;
  }
}

.services {
  &__heading {
    text-align: center;
  }

  &__image {
    background: url("/assets/images/service-img.jpg");
    width: 100%;
    max-width: 48rem;
    height: 65rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.icon-container {
  .icon-circle {
    background: $brand-secondary;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    position: relative;
    margin: 0 1rem;

    &__icon {
      height: 7.3rem;
      width: 7.3rem;
      display: table-cell;
      vertical-align: center;
      @include abs-center;
    }
  }
}

//Media queries

@include media(">=screen-sm") {
  .home-page-hero {
    &__heading {
      font-size: 10rem;
    }
  }

  .who-we-are {
    margin-top: 4rem;
    @include page-padding;

    &__heading {
      text-align: left;
      margin-bottom: 3.5rem;
    }
  }

  .services {
    @include page-padding;

    &__heading {
      text-align: left;
    }
  }
}
