.home-page-hero {
  position: relative;
  height: 50rem;
  background: url("/assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: none;
  line-height: 1;

  &__overlay {
    @include overlay;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // background: transparentize($color: $brand-primary, $amount: 0.5);
  }

  &__heading-container {
    color: white;
    position: absolute;
    //width: 100%;
    @include abs-center;
    padding: 0px 1rem;
    margin: 0px 2rem;
    border-left: 2px solid $brand-secondary;
  }

  &__heading {
    font-size: 7rem;
  }

  &__sub-heading {
    color: white;
    font-weight: lighter;
  }
}

//WHO WE ARE....................

.who-we-are {
  padding: 0px 1.5rem;
  margin-top: 2rem;

  &__text-container {
    width: 100%;
    max-width: 96rem;
    margin: auto;
  }

  &__heading {
    text-align: center;
  }
}

.services {
  position: relative;

  &__heading {
    text-align: center;
    margin: 3rem 0;
  }

  &__image {
    background: url("/assets/images/service-img.jpg");
    //max-width: 100%;
    max-width: 48rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin-top: 5rem;
  }

  &__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.icon-container {
  display: flex;
  flex-wrap: wrap;

  &__icon {
    width: calc(100% / 3);
  }

  &__title {
    text-align: center;
    width: 100%;
  }

  .icon-circle {
    background: $brand-secondary;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    position: relative;
    margin: auto;

    &__icon {
      height: 7.3rem;
      width: 7.3rem;
      display: table-cell;
      vertical-align: center;
      @include abs-center;
    }
  }
}

//PROJECTS SECTION
.projects {
  height: auto;
  background: url("/assets/images/projects-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 3rem;

  &__heading {
    text-align: center;
  }

  &__tile {
    background: url("/assets/images/projects-placeholder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
  }

  &__info {
    background: transparentize($color: $brand-primary, $amount: 0.5);
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40rem;
    padding: 1rem;
  }

  &__tile-heading {
    margin-bottom: 0.5rem;
  }

  &__tile-text {
    margin-bottom: 0.5rem;
  }
}

//Media queries

@include media(">=screen-xs") {
  .home-page-hero {
    background-attachment: fixed;
    background-position: left;
  }
}

@include media(">=screen-sm") {
  .home-page-hero {
    background-position: center left;
    &__heading {
      font-size: 10rem;
    }
  }

  .who-we-are {
    margin-top: 4rem;
    @include page-padding;

    &__heading {
      text-align: left;
      margin-bottom: 3.5rem;
    }
  }

  .services {
    @include page-padding;

    &__heading {
      text-align: left;
      //@include page-padding;
    }
  }

  .icon-container__icon {
    p {
      padding-top: 1rem;
      margin-bottom: 3rem;
    }
  }

  .projects {
    max-height: 76rem;

    &__heading {
      @include page-padding;
      text-align: left;
    }

    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__tile {
      //width: 25%;
      height: 40rem;
      overflow-x: hidden;
      margin: 0 2rem;

      &:hover {
        cursor: pointer;
      }
    }

    &__info {
      display: block;
      height: 30rem;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__tile-heading {
      margin-bottom: 2rem;
    }
  }
}

@include media(">=screen-md") {
  .services {
    margin-top: 5.3rem;

    &__heading {
      position: absolute;
    }

    &__flex-container {
      flex-direction: row;
      align-items: center;
    }

    .icon-container {
      width: 50%;
      position: relative;
      top: 7rem;
    }

    &__image {
      width: 50%;
      height: 65rem;
    }

    .icon-container__icon {
      p {
        //margin-bottom: 5rem;
      }
    }
  }
}
