.projects-landing {
  h2 {
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  &__txt {
    @include mobile-padding;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__image-container {
    width: 100%;
    height: 40rem;
    background: blue;
    overflow: hidden;
  }

  &__parallax-image {
    width: 100%;
    height: 60rem;
    position: relative;
    top: -5rem;
  }
}

.img1 {
  background: url("/assets/images/project1-main-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background: url("/assets/images/project2/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@include media(">=screen-sm") {
  .projects-landing {
    &__main-content {
      display: flex;
      flex-direction: row;

      &:not(:first-child) {
        margin: 2rem 0;
      }

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }

    &__txt {
      max-width: 50%;
    }

    &__image-container {
      max-width: 60rem;
      width: 50%;
      margin: auto;
    }
  }
}
