@font-face {
  font-family: "main-heading";
  src: url("/assets/fonts/adventpro-medium.ttf"); }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a,
a:active,
a:visited {
  text-decoration: none; }

html {
  font-size: 50%; }
  @media (min-width: 768px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 991px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "arial";
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #1f1f1f;
  overflow-x: hidden;
  position: relative; }

h1 {
  font-family: main-heading;
  font-size: 10rem; }

h2 {
  font-family: main-heading;
  font-size: 7rem;
  color: #131f53;
  font-weight: lighter; }

.nav-bar {
  background: #131f53;
  width: 20rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  overflow-x: hidden;
  z-index: 4; }
  .nav-bar__nav {
    list-style: none;
    padding-left: 4rem; }
  .nav-bar__item {
    margin-bottom: 2rem;
    -webkit-transform: translateX(calc(100% + 20rem));
            transform: translateX(calc(100% + 20rem));
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .nav-bar__link {
    color: white;
    letter-spacing: 1.7px;
    font-size: 2rem; }

.hamburger-container {
  width: 20rem;
  height: 7rem;
  background: #131f53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12; }
  .hamburger-container:hover {
    cursor: pointer; }
  .hamburger-container__line {
    width: 7rem;
    height: 3px;
    background: white;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .hamburger-container__line:not(:last-child) {
      margin-bottom: 1rem; }
    .hamburger-container__line--2 {
      opacity: 1; }

.nav-bar__drop-down {
  overflow: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0; }

.show-dropDown,
.hide-dropDown {
  -webkit-transform-origin: top;
          transform-origin: top; }

.show-dropDown {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 20rem; }

.hide-dropDown {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.show-items {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.hide-line {
  opacity: 0; }

.line-down {
  -webkit-transform: translateY(7px);
          transform: translateY(7px); }

.line-up {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px); }

.active-nav div {
  background: #fcac01;
  -webkit-transition: background 2s ease;
  transition: background 2s ease; }

.home-icon {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  color: white;
  z-index: 3222;
  font-size: 4rem;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  .home-icon:hover {
    color: #fcac01; }

.contact-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 22222;
  width: 13.5rem;
  height: 4rem; }
  .contact-btn__cta {
    width: 100%;
    height: 100%;
    border: 3px solid #fcac01;
    background: none;
    font-family: "main-heading";
    color: #fcac01;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .contact-btn__cta:hover {
      cursor: pointer;
      background: #fcac01;
      color: white; }
    .contact-btn__cta:focus {
      outline: none; }

.button-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem; }

.services-contact-btn {
  font-family: "main-heading";
  font-weight: bold;
  border: 3px solid #131f53;
  background: none;
  height: 5rem;
  color: #131f53;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 2px;
  outline: none !important;
  overflow: hidden;
  padding: 0px 30px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  margin: 0 auto; }
  .services-contact-btn::before {
    background: #131f53;
    bottom: 0;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(-110%) skewX(30deg);
            transform: translateX(-110%) skewX(30deg);
    -webkit-transition: -webkit-transform ease 0.5s;
    transition: -webkit-transform ease 0.5s;
    transition: transform ease 0.5s;
    transition: transform ease 0.5s, -webkit-transform ease 0.5s;
    width: 150%;
    z-index: -1; }
  .services-contact-btn:hover {
    color: white; }
  .services-contact-btn:hover:before {
    -webkit-transform: translateX(-25%) skewX(30deg);
            transform: translateX(-25%) skewX(30deg); }

.back-to-top-btn {
  position: fixed;
  bottom: 0;
  right: 3rem;
  z-index: 3333333;
  color: white;
  font-size: 5rem;
  -webkit-transform: translateX(50rem);
          transform: translateX(50rem);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .back-to-top-btn .fa-arrow-circle-up {
    color: #fcac01; }

#wrapper {
  position: relative;
  width: 100%;
  min-height: 40vw;
  overflow: hidden;
  margin: 1rem 0; }

.layer {
  position: absolute;
  width: 100vw;
  min-height: 40vw;
  overflow: hidden; }

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 40vw; }

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white; }

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.layer h1 {
  font-size: 2rem; }

.bottom {
  background: #222;
  z-index: 1; }

.bottom .content-body {
  right: 5%; }

.bottom h1 {
  color: #fdab00; }

.top {
  background-color: #eee;
  color: #222;
  z-index: 2;
  width: 50vw; }

.top .content-body {
  left: 5%;
  color: #222; }

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background: #fcac01;
  width: 0.5rem;
  top: 0;
  left: 50%;
  z-index: 3; }

.skewed .handle {
  top: 50%;
  -webkit-transform: rotate(30deg) translateY(-50%);
          transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
          transform-origin: top; }

.skewed .top {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px); }

.skewed .top .content-wrap {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  margin-left: 1000px; }

.footer {
  padding: 0px 4rem;
  width: 100%;
  height: 18rem;
  background: #131f53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-top: 2px solid #fcac01; }
  .footer__logo {
    border-left: 2px solid #fcac01;
    padding: 1rem; }
    .footer__logo h2,
    .footer__logo h3 {
      color: white; }
    .footer__logo h2 {
      font-size: 3.5rem; }
    .footer__logo h3 {
      font-size: 1.8rem;
      font-family: "main-heading"; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .footer__nav-item:not(:last-child) {
    margin-right: 2rem; }
  .footer__nav-link {
    color: white; }
  .footer__copyright {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: white;
    font-size: 1rem; }

svg {
  width: 50%;
  height: 100%;
  min-width: 40rem; }

path {
  stroke: #837f7f;
  opacity: 0.3;
  stroke-width: 7px;
  fill: none; }

.animation {
  stroke-dashoffset: 0 !important;
  opacity: 0.1;
  -webkit-transition: stroke-dashoffset 3s ease-out, opacity 2s ease 3s;
  transition: stroke-dashoffset 3s ease-out, opacity 2s ease 3s; }

.home-page-hero {
  position: relative;
  height: 50rem;
  background: url("/assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: none;
  line-height: 1; }
  .home-page-hero__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 31, 83, 0.5); }
  .home-page-hero__heading-container {
    color: white;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0px 1rem;
    margin: 0px 2rem;
    border-left: 2px solid #fcac01; }
  .home-page-hero__heading {
    font-size: 7rem; }
  .home-page-hero__sub-heading {
    color: white;
    font-weight: lighter; }

.who-we-are {
  padding: 0px 1.5rem;
  margin-top: 2rem; }
  .who-we-are__text-container {
    width: 100%;
    max-width: 96rem;
    margin: auto; }
  .who-we-are__heading {
    text-align: center; }

.services {
  position: relative;
  margin-bottom: 0;
  margin-top: 3rem; }
  .services__heading {
    text-align: center;
    margin-bottom: 3rem; }
  .services__image {
    background: url("/assets/images/service-img.jpg");
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 100%;
    position: relative;
    top: -10rem; }
  .services__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.parallax-container {
  height: 35rem;
  width: 100%;
  background: red;
  overflow: hidden; }

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .icon-container__icon {
    width: calc(100% / 3); }
  .icon-container__title {
    text-align: center;
    width: 100%; }
  .icon-container .icon-circle {
    background: #fcac01;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    position: relative;
    margin: auto;
    overflow: hidden;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .icon-container .icon-circle:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 2px 3px 10px rgba(31, 31, 31, 0.5);
              box-shadow: 2px 3px 10px rgba(31, 31, 31, 0.5); }
    .icon-container .icon-circle__icon {
      height: 7.3rem;
      width: 7.3rem;
      display: table-cell;
      vertical-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.projects {
  height: auto;
  background: url("/assets/images/projects-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 3rem; }
  .projects__heading {
    text-align: center; }
  .projects__tile {
    background: url("/assets/images/projects-placeholder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative; }
  .projects__info {
    background: rgba(19, 31, 83, 0.5);
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40rem;
    padding: 1rem; }
  .projects__tile-heading {
    margin-bottom: 0.5rem; }
  .projects__tile-text {
    margin-bottom: 0.5rem; }

@media (min-width: 320px) {
  .home-page-hero {
    background-attachment: fixed;
    background-position: left; } }

@media (min-width: 768px) {
  .home-page-hero {
    background-position: center left; }
    .home-page-hero__heading {
      font-size: 10rem; }
  .who-we-are {
    margin-top: 4rem;
    padding: 0px 4rem; }
    .who-we-are__heading {
      text-align: left;
      margin-bottom: 3.5rem; }
  .parallax-container {
    width: 50%; }
  .services {
    padding: 0px 4rem; }
    .services__heading {
      text-align: left; }
  .icon-container__icon p {
    padding-top: 1rem;
    margin-bottom: 3rem; }
  .projects {
    max-height: 76rem;
    margin-top: 4rem; }
    .projects__heading {
      padding: 0px 4rem;
      text-align: left; }
    .projects__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .projects__tile {
      height: 40rem;
      overflow-x: hidden;
      margin: 0 2rem; }
      .projects__tile:hover {
        cursor: pointer; }
    .projects__info {
      display: block;
      height: 30rem;
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .projects__tile-heading {
      margin-bottom: 2rem; } }

@media (min-width: 991px) {
  .parallax-container {
    max-height: 60rem;
    height: auto; }
  .services {
    margin-top: 5.3rem;
    margin-bottom: 5rem; }
    .services__heading {
      margin-bottom: 1rem; }
    .services__flex-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .services__image {
      height: 100vh;
      top: -5rem; }
    .services .icon-container__icon {
      padding-top: 5rem; } }

.services-hero {
  position: relative;
  height: 50rem;
  background: url("/assets/images/services-hero.jpg");
  background-size: auto 50rem;
  background-repeat: no-repeat;
  background-attachment: none;
  background-position: center; }
  .services-hero__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 31, 83, 0.5); }
  .services-hero__heading-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0px 1rem;
    margin: 0px 2rem;
    border-left: 2px solid #fcac01;
    line-height: 1; }
  .services-hero__heading {
    color: white; }

.services__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-top: 2.3rem;
  padding-bottom: 3.7rem; }

.services__nav-item {
  position: relative; }
  .services__nav-item:not(:last-child) {
    margin-right: 2rem; }
  .services__nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fcac01;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform-origin: right;
            transform-origin: right; }
  .services__nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fcac01;
    left: 0;
    top: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform-origin: left;
            transform-origin: left; }
  .services__nav-item:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  .services__nav-item:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.services__nav-link, .services__nav-link:link, .services__nav-link:active {
  color: #1f1f1f; }

.services-content {
  position: relative;
  height: 80rem; }
  .services-content__svg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -2; }
    .services-content__svg svg {
      padding-left: 3rem; }
  .services-content__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services-content h2 {
    text-align: center; }
  .services-content__text, .services-content__slider {
    max-width: 100%; }
  .services-content__text {
    margin-bottom: 3rem;
    padding: 0px 4rem; }
  .services-content .owl-dots {
    display: none; }

@media (min-width: 320px) {
  .services-hero {
    background-attachment: fixed;
    background-position: 9% 0; } }

@media (min-width: 991px) {
  .services-content h2 {
    text-align: left;
    margin-bottom: 2rem; }
  .services-content__svg svg {
    padding-left: 0; }
  .services-content__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .services-content__text, .services-content__slider {
    max-width: 50%; }
  .services-content__text {
    margin-bottom: 3rem; } }

.projects-page-header {
  position: relative; }

.projects-hero {
  position: relative;
  height: 50rem;
  background: url("/assets/images/projects-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: none;
  line-height: 1; }
  .projects-hero__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 31, 83, 0.5); }
  .projects-hero__heading-container {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0px 1rem;
    margin: 0px 2rem;
    border-left: 2px solid #fcac01; }
  .projects-hero__heading {
    color: white; }

.projects-main-content {
  padding: 0 1rem; }
  .projects-main-content h2 {
    text-align: center; }
  .projects-main-content__text {
    margin-bottom: 2rem; }

@media (min-width: 320px) {
  .projects-hero {
    background-attachment: fixed;
    background-position: left; } }

@media (min-width: 991px) {
  .projects-main-content {
    height: auto;
    min-height: 60rem; }
    .projects-main-content h2 {
      text-align: left; }
    .projects-main-content__flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .projects-main-content__text, .projects-main-content__slider {
      max-width: 50%; }
    .projects-main-content__text {
      padding: 0px 4rem; }
    .projects-main-content__slider {
      margin-top: 3rem; } }
