@font-face {
  font-family: "main-heading";
  src: url("/assets/fonts/adventpro-medium.ttf"); }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a,
a:active,
a:visited {
  text-decoration: none; }

html {
  font-size: 50%; }
  @media (min-width: 768px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 991px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "arial";
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #545454; }

h1 {
  font-family: main-heading;
  font-size: 10rem; }

h2 {
  font-family: main-heading;
  font-size: 7rem;
  color: #131f53; }
